.case-cards-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 60px;
    justify-content: space-evenly;
}

.cases-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 4px;
    background-color: var(--card-background);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: transform 0.4s;
    width: 16%;
}

.cases-card:hover{
    transform: translateY(-10px);
}

.cases-card-img {
    height: 12em;
    width: 12em;   
    border-radius: 50%;
    border: 1px solid black;
}
.cases-title{
    font-size: 1.7em;
    font-size: 600;
    margin: 10px 0 0 0;
    color: var(--black);
}

